body{  
  background-color: #B0F0DB;
  text-align: left;
  margin-top:50px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
}
h1{
    color: #5E6283;
  text-align: center;
}

.btn{
    background-color: #5E6283;
    color: #F496AF;
    font-weight: bold;
}
.btn:hover {
    background-color: #F496AF; /* Green */
    color: lavender;
}
.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#result{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: lavender;
  color: #5E6283 !important;
}
